<?xml version="1.0"?>
<model>
  <name>gimbal_kamera_kulesi</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>kasaba projesi</name>
  </author>
  <description>
    World'e sabit, 2 eksenli (yaw+tilt) gimbal kule modeli. mono_cam modelini
    merge-include ile ucuna monte eder. Yaw ve tilt acisini
    /model/&lt;spawn_adi&gt;/joint/yaw_joint/0/cmd_pos ve
    /model/&lt;spawn_adi&gt;/joint/tilt_joint/0/cmd_pos topic'lerine
    gz.msgs.Double yayinlayarak kontrol edebilirsiniz.
    Meshler icin gimbal_small_2d/meshes klasorunun GZ_SIM_RESOURCE_PATH
    icinde bulunmasi gerekir.
  </description>
</model>
