<?xml version="1.0"?>
<model>
  <name>mono_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>kasaba projesi</name>
  </author>
  <description>
    Tek gozlu kamera modulu. Sabit topic /kamera/goruntu uzerinden goruntu yayinlar.
    Baska bir govdeye fixed joint ile monte edilmek uzere tasarlandi (gravity=false).
  </description>
</model>
